section {
    background-color: rgba(51, 50, 64, .25);
    border-radius: 0 0 1em 1em;
    margin: .0 2em 0 2em;
    padding: 1em 0 2em 0;
    position: relative;
    /* z-index: -1; */
}

.heroContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.heroSample {
    color: white;
    background-color: #333240;
    border-radius: .5em;
    padding: 3em 1em;
    text-align: left;
    margin: 1em;
    width: 100%;
}

.heroSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.heroContentContainer h1 {
    margin: 0 1em 0 auto;
    text-align: right;
    width: 50%;
    color: white;
}

button {
    font-size: 1em;
    padding: .5em 25%;
    border: none;
    border-radius: .5em;
    background-color: rgba(127, 202, 69, 0.603);
    color: white;
}

@media screen and (max-width:414px) {
    .heroContentContainer {
        display: flex;
        flex-direction: column;
    }

    .heroContentContainer h1 {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        color: white;
    }

    .heroContent {
        flex-direction: column;
    }

    .heroSample {
        padding: 1em;
        text-align: left;
        margin: 1em;
        width: 80%;
    }

    .heroSummary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        padding: 0 1em;
        text-align: center;
    }
}